.buttons.list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.button-filtre {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;

    color: $title-text-color;
    background-color: #F5F4FA;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: .03em;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    color: #FFFFFF;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}