.clients {

    &--list {
        padding-left: 0;
        margin: 0;
        list-style: none;
    }

    display: flex;
    flex-wrap: wrap;;
    gap: 30px;

    
    // @media screen and (min-width: 768px) {
    //     display: flex;
    //     flex-wrap: wrap;;
    //     gap: 30px;
    // }
   
    //    @media screen and (min-width: 1200px) {  

    // display: flex;
    // flex-direction: calc((100% - 5*30px)/6);
    // gap: 30px;
    // background-repeat: no-repeat;
    // background-position: center;
    //    }
   
}

.clients__client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: $icon-fill-color;
    transition: $colorTransition;
    // transition-property: color;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
        color: $accent-color;

}
@media screen and (min-width: 768px) {
    width: 226px; }

    @media screen and (min-width: 1200px) {
        width: 170px; }
    
}


.clients__button-icon {
    fill: currentColor;
    transition: $fillTransition;
    // transition-property: fill;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
 &:focus {
        fill: $accent-color;
}

}