.footer {
    padding: 60px 0;
    background-color: #2f303a;

    display: block;
    
    @media  screen and (max-width: 767px) {
        text-align: center; 
    }
        @media  screen and (min-width: 1200px) {
        
        &__container {
            display: flex;
            align-items: baseline;
            gap: 94px;
            

        }
    }
}


.footer-link-address {
    color: #FFFFFF;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
    transition: $colorTransition;
    
&:hover,
    &:focus {
    color: $accent-color;
   }
}

.footer-link {

    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
    transition: $colorTransition;
    
    

&:hover,
 &:focus {
     color: $accent-color;
    }
}
.footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #ffffff;
    font-style: normal;
    margin-bottom: 20px;
    text-align: center;

}

.footer__icon {
    display: flex;
    flex-basis: calc((206px - 3*10px)/4);
    gap: 10px;
    justify-content: center;
    align-items: center;

    &--list {
        padding-left: 0;
        margin: 0;
        list-style: none;
    }
}

.address {
        width: auto;
    padding: 0;
    margin: 0;
    margin-top: 28px;
    text-align: center;

    @media  screen and (min-width: 1200px) {
        text-align: left;
        }  

    &--link {
        text-decoration: none;
    }

    &--list {
        padding-left: 0;
        margin: 0;
        list-style: none;

    }
}

.address__item {
    padding: 0;
    // text-align: center;


    &:not(:last-child) {
        margin-bottom: 12px;
    }

}

.icon-social-footer {
    fill: #ffffff;
}

.social {
margin: 60px auto;

@media  screen and (min-width: 768px) {    
    margin: 0 79px 0 0;
}
    
@media  screen and (min-width: 1200px) {
   
    margin: 0;
    margin-right: auto;
}
}

.contacts {
    // margin: 0 auto;

    @media  screen and (min-width: 768px) {
       margin-left: 79px;
            
    }
    
    @media  screen and (min-width: 1200px){
    margin-left: 0px;
    text-align: left;
    }
}
.footer__tablet {
    @media screen and (min-width: 768px) and (max-width: 1199px){
    margin-bottom: 60px;
    display: flex;
    // align-items: baseline;
justify-content: space-between;
    // gap: 165px;
    }
    @media screen and (min-width: 1200px) {
        
        display: flex;
        align-items: baseline;
        gap: 94px;
        
                }
}

.email-footer {
    display: block;
    font-size: 16px;
    line-height: 1.25;
    width: 100%;
    max-width: 450px;
    height: 50px;
    margin:  0 auto;
    padding: 15px 0 15px 18px;
    color: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 4px;
    background-color: transparent;
        transition: $baseTransition;

        @media  screen and (min-width: 1200px) {
            width: 358px;
            }  

    &:focus,
        &:hover {
            border-color: $accent-color;
        }

           
}

.input-email {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // gap: 20px;

    @media  screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 12px;
    }
}

.button.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 200px;
    height: 50px;
    padding: 10px 28px;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
    @media  screen and (min-width: 1200px) {
        margin-top: 0;
}
}
