.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    
}

@media (min-width: 768px) {
    .menu {
        display: none;
    }
}

.mobile-menu,
.mobile-link,
.mobile-social {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu {
    margin-bottom: auto;
}
.mobile-social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.mobile-link { 
       display: block;
       margin-bottom: 64px;
 }


.menu .link, 
.site-link,
.social-link,
.contakts-link {
    // padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu-link:not(:last-child) {
    margin-bottom: 32px;
}
// .menu-link:last-child {
//     margin-bottom: auto;
// }
.social-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: .02em;
    color: $accent-color;
        
}
.social-menu {
    display: block;
    &:not(:last-child) {
        padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:not(:first-child) {
        padding-left: 10px;
    }
    
     
}

.contakts-link {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: .02;
    color: $primare-text-color;
}
.contakts-link.tel {
    font-size: 34px;
    color: $accent-color;
    margin-bottom: 32px;
}

.site-link {
   font-size: 40px;
   font-weight: 500;
   line-height: 1.16;
   color: $title-text-color;
   margin-bottom: 30px;

   &:hover,
   &:focus {
    color: $accent-color;
   }
   &--current {
    color: $accent-color;
}
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    
    fill: $accent-color;

}

.menu-container {
    display: flex;
    flex-direction: column;
    // align-items: stretch;
        position: fixed;
        // overflow: scroll;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: #ffffff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu .link {
    display: block;
    
    color: #fff;
    text-decoration: none;
}