.container .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.project-list .title {
    display: block;
    margin-top: 0;
    margin-bottom: 4px;

    color: $title-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-decoration: none;
}

.project-text {
    display: block;
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.875;
    color: $primare-text-color;
}

.card-portfolio {
    text-align: left;
    height: 110px;
    padding: 20px 24px 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;

}
.overlay-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(100%);
    transition: $baseTransition;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-overlay {
    position: relative;
    overflow: hidden;
}

.thumb.link {
    display: block;
    transition: $shadowTransition;
    // transition-property: box-shadow;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: $box-shadow;
    }
        
    //     0px 1px 1px rgba(0, 0, 0, 0.12),
    //         0px 4px 4px rgba(0, 0, 0, 0.16),
    //         1px 4px 6px rgba(0, 0, 0, 0.16);
    

  &:hover .overlay-card,
  &:focus .overlay-card {
      opacity: 1;
      transform: translateY(0);
  }
    
}


.text-card {
    font-size: 18px;
    line-height: 1.55;
    color: #ffffff;

    padding: 63px 24px;

    background-color: $accent-color;

}
