.section--product {
    padding-top: 0;
}

.overlay-product {
    display: flex;
    flex-basis: calc((100% - 3*30px)/3);
    gap: 30px;


&--list {
        padding-left: 0;
        margin: 0;
        list-style: none;
    }



&__box {
    position: relative;

}

&__text {
    color: #FFFFFF;
    font-weight: 700;
    line-height: 1.14;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
}