.section--team {
    background-color: #F5F4FA;
}
.team {

    display: flex;
    flex-basis: calc((100% - 3*30px)/4);
    gap: 30px;

    &--list {
    padding-left: 0;
        margin: 0;
        list-style: none;
    }

    &__title {
            margin-top: 0;
            margin-bottom: 10px;
            text-align: center;
    
            color: $title-text-color;
    
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
        }

    &__text {
             margin: 0;
             text-align: center;
             margin-bottom: 16px;
             font-size: 16px;
             line-height: 1.19;
         }

}


.team__person {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__card {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 1px 1px;
}


.team__icon {
    display: flex;
    flex-basis: calc((100% - 3*10px)/4);
    gap: 10px;
    justify-content: center;
    align-items: center;

    &--list {
    padding-left: 0;
        margin: 0;
        list-style: none;
    }
}

.team__social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 50%;
    border: none;
    color: $icon-fill-color;
    background-color: #ffffff;
    transition: $iconTransition;
    // transition-property: background-color, color;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
     &:focus {
            background-color: $accent-color;
            color: #ffffff;
}
}

.team__social {
    fill: currentColor;

}