html {
    box-sizing: border-box;
}

body {
    color: $primare-text-color;
    background-color: $primare-background-color;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: .03em;

}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

.addres {
    font-style: normal;
}

.button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}
.section__title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;

    color: $title-text-color;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}