
    $primare-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196F3;
    $icon-fill-color: #afb1b8;
    $second-font: Raleway, sans-serif;
    $primare-background-color: #ffffff;
    $ind-header: 10;
    $ind-backdrop: 100;

     $buttonTransition: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     $baseTransition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    $colorTransition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         $iconTransition: backgraund-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         $fillTransition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
         $allTransition: color, background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

      $shadowTransition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

           $box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
           0px 4px 4px rgba(0, 0, 0, 0.16),
           1px 4px 6px rgba(0, 0, 0, 0.16);